

<button mat-button routerLink="" class="menu-button">
    <h4>All Notes</h4>
</button>

<mat-divider></mat-divider>

<div class="tags">
    <button mat-button routerLink="" class="menu-button">
        <mat-icon>^</mat-icon>
        <span>Home</span>
    </button>
    <button mat-button routerLink="notes/edit/new" class="menu-button">
        <mat-icon>+</mat-icon>
        <span>New Note</span>
    </button>
    <button mat-button class="menu-button">
        <mat-icon>i</mat-icon>
        <span>About</span>
    </button>

    <mat-divider></mat-divider>
</div>

<button class="menu-button" (click)="limpa()" mat-button>Delete ALL Notes</button>
