<div class="side-bar">
    <button routerLink="/notes" class="butn btn-home" [ngClass]="isSelected()">
        <h4>All Notes</h4>
    </button>

    <button routerLink="/notes/trash" class="butn btn-trash" [ngClass]="isSelected('/notes/trash')">
        <h4>Trash</h4>
    </button>

    <div class="colors" [hidden]="getColorNames(true, getNoteCollection()).length == 0">
        <span class="color-title">Color Filter</span>
        <div class="color-wrapper" *ngFor="let theme of getColorNames(true, getNoteCollection()); let i = index">
            <button class="btn-color selector" [ngStyle]="theme.style"
            (click)="view(theme.value)"> <!-- (mouseenter)="hovered = i" (mouseleave)="hovered = -1" -->
                <mat-icon class="icon-color-selector">fiber_smart_record</mat-icon>
                <span class="select-color-text">{{ theme.label }}</span>
            </button>
        </div>
    </div>

    <button class="delete-all-btn" (click)="limpa()">
        <mat-icon class="delete-icon">delete</mat-icon><span class="delete-all-txt">Delete ALL Notes</span>
    </button>
</div>
