@import "../shared/scss-files/variables.scss";

h4{
    padding-top: 9px;
    padding-left: 12px;
    font-size: 13pt;
    color: $primary-color-heavy;
}

.colors{
    display: flex;
    flex-direction: column;
}

.color-title{
    align-self: flex-start;
    margin-left: 50px;
    margin-top: 20px;

    font-size: 11pt;
    font-weight: 500;
    color: $primary-color-heavy;
}

.butn{
    margin-top: 12px;
    width: 100%;
    height: 40px;
    border: 0;
    display: inline-flex;
    transition: .5s;

    &.btn-home{
        margin-top: 25px;
        border-left: 3px solid $primary-color;
        background-color: $primary-color-light;

        &.selected{
            background-color: $tertiary-color;
        }

        &:hover{
            background-color: $secundary-color;
        }
    }

    &.btn-trash{
        border-left: 3px solid $secundary-color-heavy;
        background-color: $primary-color-light;

        &.selected{
            background-color: $quaternary-color-light;
        }

        &:hover{
            background-color: $tertiary-color-light;
        }
    }
}

.delete-all-btn{
    background-color: $tertiary-color-light;
    color: $primary-color-heavy;
    width: 210px;
    height: 40px;
    margin: 20px 20px;
    border:0;
    border-radius: 6px;
    display: inline-flex;
    position: absolute;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    transition: .5s;

    .delete-all-txt{
        font-weight: 500;
        margin-right: 22px;
    }

    .delete-icon{
        margin: 0px 8px;
        //margin-top: 7px;
    }

    &:hover{
        background-color: $quaternary-color-light;
        color: $primary-color-heavy;
    }
}

.btn-color{
    margin: 3px;
    border: 0;
    transition: .5s;
    display: inline-flex;

    &.selector{
        font-size: 10pt;
        height: 30px;
        width: 180px;
        padding: 5px 8px;
        border-radius: 4px;

        background-color: transparent;

        .icon-color-selector{
            font-size: 15pt;
        }

        .select-color-text{
            margin-left: 8px;
        }
        
    }
}