.note {
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 15px;
    border: 0px;

    background-color: var(--background);
    color: var(--primary); 
    transition: .5s;
    overflow: hidden;
    text-align: left;
    vertical-align: top;

    &:hover{
        background-color: var(--background-secundary);
        color: var(--secundary)
    }
}

.delete-btn{
    background-color: transparent;
    color: var(--primary);
    border: 0px;
    transition: .5s;
    float: right;
    padding-right: 0;

    &:hover{
        color: var(--secundary);
    }
}

.title{
    font-size: 15pt;
    font-weight: bold;
}

.created-at{
    font-size: 10pt;

}

.task{
    padding-left: 20px;
    
    &.uncompleted{
        list-style-type: circle;
    }
    
    &.completed{
        text-decoration: line-through;
    }
}

