<button (click)="redirectToEdit()" class='note'>
<div>
    
    <button (click)="deleteNote()">Deletar</button>
    <h3>{{ note.title }}</h3>
    <h5>{{ note.createdAt }}</h5>
    <p>{{ note.description }}</p>
    <p>Id: {{ note.id }}</p>

    <div [hidden]="getTasks().length==0">
        <h4>Tasks:</h4>
        <ul *ngFor="let task of getTasks()">
            <li>{{ task }}</li>
        </ul>
    </div>

    <div [hidden]="getTags().length==0">
        <h4>Tags:</h4>
        <ul *ngFor="let tag of getTags()">
            <li>{{ tag }}</li>
        </ul>
    </div>
</div></button>