$primary-color-light: #fff;
$secundary-color-light: #f8fafb;
$tertiary-color-light: #ebebeb;
$quaternary-color-light: #dbdbdb;

$primary-color-heavy: #444444;
$secundary-color-heavy: #727272;

$primary-color: #2584a5;
$secundary-color: #c3e3f0;
$tertiary-color: #e4f7ff;

$font-primary: 'Be Vietnam Pro', sans-serif;