<div class="note-editor">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        
        <input type="text" formControlName="title" id="title"
        placeholder="Título" class="input-form">

        <textarea type="text" formControlName="description"
        placeholder="Descrição" class="input-form area-text"></textarea>

        <app-input-tasks formControlName="tasks"
        [tasksArray]="getFormControlValue('tasks')"></app-input-tasks>

        <button (click)="selectColor()" class="btn btn-color">
            <mat-icon>fiber_smart_record</mat-icon>
            <span class="select-color-text">Cor</span>
        </button>
        
        <div id="backdrop-color-darken">
            <div class="color-popup">
                <button class="btn btn-close" (click)="selectColor(false)"></button>
                <div class="color-wrapper" *ngFor="let theme of getColorNames(); let i = index">
                    <button class="btn btn-color selector" [style]="getStyleColors(theme.style)"
                    (click)="setThemeColor(theme.value)">
                        <mat-icon class="icon-color-selector">fiber_smart_record</mat-icon>
                        <span class="select-color-text">{{ theme.label }}</span>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="btn-area">
            <div class="to-right">
                <button (click)="deleteNote()" class="btn btn-delete"><mat-icon>delete</mat-icon></button>
                <button (click)="fav()" class="btn btn-fav">
                    <mat-icon [hidden]="isFav()">star_border</mat-icon>
                    <mat-icon [hidden]="!isFav()">star</mat-icon>
                </button>
                <button type="submit" class="btn btn-primary" (click)='trySubmit()'>Salvar</button>
                <button type="submit" class="btn btn-secundary" (click)='resetForm()'>Limpar</button>
                <button type="submit" class="btn btn-secundary" routerLink="/notes">Cancelar</button>
            </div>
        </div>

    </form>
</div>

<!-- <div style="margin-top: 20px" *ngIf="formulario" >
    <div>Detalhes do form</div>
    <pre>Form válido: {{ formulario.valid }}</pre>
    <pre>Valores: <br>{{ formulario.value | json }}</pre>
</div> -->
