@import "../../shared/scss-files/variables.scss";

.note-editor{
    border-radius: 15px;
    margin: 45px 60px;
    
    padding: 40px 60px;
    
    background-color: var(--background);
    color: rgb(41, 41, 41);

    form{
        background-color: var(--background);
    }
}

.input-form{
    width: 100%;
    padding: 12px 18px;
    margin-bottom: 20px;
    
    background-color: var(--background-secundary);
    color: var(--primary);
    border: 0px;
    
    
    font-family: $font-primary;

    &#title{
        height: 50px;
        font-size: 15pt;
        border-bottom: 3px solid var(--primary);
        border-radius: 8px
    }

    &.area-text{
        height: 135px;
        border-radius: 8px;
    }
}

input:focus, textarea:focus{
    outline: none;
}

::placeholder{
    color: var(--secundary)
}

.btn-area{
    display:-webkit-flex;
    display:flex;
    justify-content:flex-end;
}

.btn {
    margin: 10px 0 10px 10px;
    border: 0;
    border-radius: 8px;
    background-color: var(--background-secundary);
    color: var(--primary);
    font-family: $font-primary;
    font-size: auto;
    height: 6vh;
    transition: .5s;

    &:focus{
        box-shadow: none;
    }

    &:hover{
        background-color: var(--secundary);
        color: var(--background);
    }
}

.btn-primary, .btn-stay{
    background-color: $primary-color;
    color: $primary-color-light;

    &:hover{
        background-color: $secundary-color;
        color: $primary-color-heavy;
    }
}

.btn-color{
    margin-left: 0;
    display: inline-flex;

    &.selector{
        margin:0;
        font-size: 10pt;
        height: 30px;
        width: 150px;
        padding: 6px 8px;
        border-radius: 4px;

        .icon-color-selector{
            font-size: 15pt;
        }

        .select-color-text{
            margin-left: 8px;
        }
        
    }
}

.btn-close{
    background-color: transparent;
    padding: 0;
    margin: 0;
    position: relative;
    float: right;
    height: 16px;

    &:hover{
        background-color: transparent;
    }
}


#backdrop-color-darken{
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 60px;
    background-color: rgba(0,0,0,.5);
    transition: .3;

    .color-popup{
        position: fixed; 
        width: 300px;
        top: 20%;
        left: calc(50% - 100px);
        padding: 25px 25px;
        border-radius: 15px;
    
        background-color: var(--background);
        color: var(--primary);
        
        .color-wrapper {
            padding: 0px;
            display: flex;
            justify-content: center;
            margin:16px
        };
    }
}

