@use "sass:string";
@import "../../shared/scss-files/variables.scss";

ul {
    padding: 0px;
    display: flex;
    justify-content: center;
    margin:16px
};

form{
    //--theme1: green;
    background-color: var(--background);
}

.note-editor{
    border-radius: 15px;
    margin: 45px 60px;
    
    padding: 40px 60px;
    
    background-color: var(--background);
    color: rgb(41, 41, 41);
}

.input-form{
    width: 100%;
    padding: 12px 18px;
    margin-bottom: 20px;
    
    background-color: var(--background-secundary);
    color: var(--primary);
    border: 0px;
    
    
    font-family: $font-primary;   
}

input:focus, textarea:focus{
    outline: none;
}

::placeholder{
    color: var(--secundary)
}

#title{
    height: 50px;
    font-size: 15pt;
    border-bottom: 3px solid var(--primary);
    border-radius: 8px
}

.line-text{
    height: 45px;
}

.area-text{
    height: 135px;
    border-radius: 8px;
}



.btn-area{
    display:-webkit-flex;
    display:flex;
    justify-content:flex-end;
}

.btn {
    margin: 10px 0 10px 10px;
    border: 0;
    border-radius: 8px;
    background-color: var(--background-secundary);
    color: var(--primary);
    font-family: $font-primary;
    font-size: auto;
    height: 6vh;
    transition: .5s;
}

.btn:focus{
    box-shadow: none;
}

.btn:hover{
    background-color: var(--secundary);
    color: var(--background);
}

.btn-primary, .btn-stay{
    background-color: $primary-color;
    color: $primary-color-light;
}

.btn-primary:hover, .btn-stay:hover{
    background-color: $secundary-color;
    color: $primary-color-heavy;
}

.btn-color{
    margin-left: 0;
    display: inline-flex;
}

.btn-color.selector{
    margin:0;
    font-size: 10pt;
    height: 30px;
    width: 150px;
    padding: 6px 8px;
    border-radius: 4px;
}

.btn-close{
    background-color: transparent;
    padding: 0;
    margin: 0;
    position: relative;
    float: right;
    height: 16px;
}

.btn-close:hover{
    background-color: transparent;
}

.icon-color-selector{
    font-size: 15pt;
}

#backdrop-color-darken{
    display: none;
    width: 100%;
    height: 103vh;//calc(100vw + 85px);
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.5);
    transition: .3;
}

.color-popup{
    
    position: fixed; /* or absolute */
    width: 300px;
    top: 15%;
    left: calc(50% - 100px);
    padding: 25px 25px;
    border-radius: 15px;

    background-color: var(--background);
    color: var(--primary);
    
}

.select-color-text{
    margin-left: 8px;
    //margin-bottom: 15px;
}