<div class="note-editor">
    <form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">
        
        <input type="text" formControlName="title" id="title"
        placeholder="Título" class="input-form">

        <textarea type="text" formControlName="description"
        placeholder="Descrição" class="input-form area-text"></textarea>
        
        <div class="tasks-input">
            <div class="tasks-undone task" *ngFor="let item of getTasks('tasks',false); let i = index">
                <button (click)='switchStateTask(item.id)' class="checkbox"></button>
                <input class="line-text display-task" [value]="item.name">
                <button class="delete-task" (click)="deleteFromFormControlArray('tasks', item.id)">
                    <mat-icon class="delete-outline">delete_outline</mat-icon>
                </button>
            </div>
            <div class="tasks-done task" *ngFor="let item of getTasks('tasks',true); let i = index">
                <button (click)='switchStateTask(item.id)' class="checkbox checked"></button>
                <input class="line-text display-task done" [value]="item.name">
                <button class="delete-task" (click)="deleteFromFormControlArray('tasks', item.id)">
                    <mat-icon class="delete-outline">delete_outline</mat-icon>
                    <!--mat-icon class="delete-full">delete</mat-icon-->
                </button>
            </div>
            <div class="task">
                <input type="text" class="line-text display-task" id="input-task" placeholder="Nova Task">
                <button class="add-task" (click)="addToFormControlArray('tasks','input-task')">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12 form-inline" [hidden]="getFormControlValue('tags').length==0"
            *ngFor="let item of getFormControlValue('tags'); let i = index">
                <label class="form-control" readonly>{{ item.name }}</label>
                <button class="btn btn-primary" (click)="deleteFromFormControlArray('tags',i)">Delete</button>
            </div>
            <div class="col-sm-12">
                <label attr.for="tags" class="control-label">Tags</label>
                <input type="text" class="form-control" id="input-tag">
                <button class="btn btn-primary" (click)="addToFormControlArray('tags','input-tag')">Add</button>
            </div>
        </div>

        <!--app-input-field class="col-sm-12" formControlName="color" type='color'
        id="color" label="Cor" [control]="formulario.get('color')"></app-input-field-->
        <label for="color">Choose a color theme:</label>
        <select name="color" formControlName="color" id="color" (change)="setThemeColor()">
            <option value="white">White</option>
            <option value="blue">Blue</option>
            <option value="red">Red</option>
            <option value="yellow">Yellow</option>
            <option value="pink">Pink</option>
            <option value="orange">Orange</option>
            <option value="purple">Purple</option>
            <option value="green">Green</option>
        </select>
        <br>

        <div class="btn-area">
            <div class="to-right">
                <button (click)="fav()" class="btn btn-fav" id="btnteste">
                    <mat-icon [hidden]="isFav()">star_border</mat-icon>
                    <mat-icon [hidden]="!isFav()">star</mat-icon>
                </button>
                <button type="submit" class="btn btn-primary" (click)='trySubmit()'>Salvar</button>
                <button type="submit" class="btn btn-stay" (click)='trySubmit(false)'>Salvar e Continuar Editando</button>
                <button type="submit" class="btn btn-secundary" (click)='resetForm()'>Limpar</button>
                <button type="submit" class="btn btn-secundary" routerLink="/notes">Cancelar</button>
            </div>
        </div>

    </form>
</div>
<!-- <div style="margin-top: 20px" *ngIf="formulario" >
    <div>Detalhes do form</div>
    <pre>Form válido: {{ formulario.valid }}</pre>
    <pre>Valores: <br>{{ formulario.value | json }}</pre>
</div> -->
