@import "./shared/scss-files/variables.scss";

mat-toolbar {
    background: $quaternary-color-light;
    color: rgb(36, 36, 36);
    height: 60px;
    font-weight: bold;
}

.side-bar-button{
    background-color: transparent;
}

mat-sidenav {
    width: 250px;
    border-right: none;
    background: $primary-color-light;
    color: $primary-color-heavy;
    text-align: center;
}

.content {
    
    justify-content: center;
    align-items: center;

}

mat-sidenav-container {
    background-color: $tertiary-color-light;
    height: calc(100vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

    mat-icon {
        margin-right: 8px;
    }
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

.img-logo {
    content:url("./img/notes-app-logo.png");
    height: 18px;
    margin-left: 10px;
 }