<div class="all-notes">
    <button class="new-note-btn" routerLink="/notes/edit/new">
        <span class="new-note-txt">Nova nota...</span>
        <mat-icon class="add-icon">add</mat-icon>
    </button>

    <h3 [hidden]="getFavs().length==0">FAVORITES</h3>
    <div class="wraper">
        <div class="note" *ngFor="let note of getFavs()">
            <app-single-note [note]="note" (changeEvent)="receiveChange($event)"></app-single-note>
        </div>
        <div class="note hidden"></div>
        <div class="note hidden"></div>
        <div class="note hidden"></div>
        <div class="note hidden"></div>
    </div>

    <h3 [hidden]="getFavs(false).length==0">ALL NOTES</h3>
    <div class="wraper">
        <div class="note" *ngFor="let note of getFavs(false)">
            <app-single-note [note]="note" (changeEvent)="receiveChange($event)"></app-single-note>
        </div>
        <div class="note hidden"></div>
        <div class="note hidden"></div>
        <div class="note hidden"></div>
        <div class="note hidden"></div>
    </div>
</div>