<div class="all-notes">
    <button class="new-note-btn" routerLink="/notes/edit/new">
        <span class="new-note-txt">Nova nota...</span>
        <mat-icon class="add-icon">add</mat-icon>
    </button>

    <h3 [hidden]="getFavs().length==0">FAVORITES</h3>
    <div class="notes-fav" *ngFor="let note of getFavs()">
        <app-single-note [note]="note" (changeEvent)="receiveChange($event)" [styleTheme]="childThemes(note.id)"></app-single-note>
    </div>

    <h3 [hidden]="getFavs(false).length==0">ALL NOTES</h3>
    <div class="notes-unfav" *ngFor="let note of getFavs(false)">
        <app-single-note [note]="note" (changeEvent)="receiveChange($event)" [styleTheme]="childThemes(note.id)"></app-single-note>
    </div>
</div>