@import "../shared/scss-files/variables.scss";

h3 {
    font-size: 13pt;
    margin: 20px 0px 5px 15px
}

.all-notes{
    border-radius: 15px;
    margin: 45px 60px;

    padding: 0px;
    color: $primary-color-heavy;
}

.wraper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    &::after{
        //height: 0;
        width: 225px;
        flex:auto;
        content: "";
    }
}

.new-note-btn{
    background-color: $primary-color-light;
    color: $secundary-color-heavy;
    border:0;
    border-radius: 15px;
    width: 100%;
    height: 50px;
    margin-bottom: 30px ;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;

    &:hover{
        background-color: $quaternary-color-light;
        color: $primary-color-heavy;
    }
}

.new-note-txt{
    margin-left: 25px;
    font-family: $font-primary;
}

.add-icon{
    margin-right: 16px;
}


.note{
    height: 225px;
    width: 225px;
    margin: 8px 0;
}

.hidden {
    visibility: hidden;
    width: 225px;
    height: 0;
    margin: 0;
  }